<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device" />
    <title>@ViewBag["Title"]</title>
</head>
<body>
    <header>
        <h1>First MVC Web App</h1>
    </header>
    <nav>
        
    </nav>
    <main>
        @RenderBody()
    </main>
    <footer></footer>
</body>
</html>